@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Dongle, ui-sans-serif, sans-serif, system-ui;
  --font-mono: Ubuntu Mono, ui-monospace, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --font-serif: Lateef, ui-serif, serif;
  --radius: 1.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 1.5rem;
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3704 0.0317 263.0184);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3704 0.0317 263.0184);
  --primary: oklch(0.7125 0.1595 295.3421);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9082 0.0533 307.2394);
  --secondary-foreground: oklch(0.4437 0.0273 260.6449);
  --muted: oklch(0.9472 0.0331 308.9666);
  --muted-foreground: oklch(0.5488 0.0244 268.2356);
  --accent: oklch(0.9384 0.0266 323.9104);
  --accent-foreground: oklch(0.3704 0.0317 263.0184);
  --destructive: oklch(0.8128 0.0999 21.7381);
  --border: oklch(0.9082 0.0533 307.2394);
  --input: oklch(0.9082 0.0533 307.2394);
  --ring: oklch(0.7125 0.1595 295.3421);
  --chart-1: oklch(0.7125 0.1595 295.3421);
  --chart-2: oklch(0.6104 0.2192 294.5557);
  --chart-3: oklch(0.5476 0.2469 295.1580);
  --chart-4: oklch(0.4971 0.2415 294.8898);
  --chart-5: oklch(0.4376 0.2108 295.0283);
  --sidebar: oklch(0.9082 0.0533 307.2394);
  --sidebar-foreground: oklch(0.3704 0.0317 263.0184);
  --sidebar-primary: oklch(0.7125 0.1595 295.3421);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9384 0.0266 323.9104);
  --sidebar-accent-foreground: oklch(0.3704 0.0317 263.0184);
  --sidebar-border: oklch(0.9082 0.0533 307.2394);
  --sidebar-ring: oklch(0.7125 0.1595 295.3421);
  --background: oklch(0.9689 0.0090 314.7819);
  --foreground: oklch(0.3704 0.0317 263.0184);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Dongle, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lateef, ui-serif, serif;
  --font-mono: Ubuntu Mono, ui-monospace, monospace;
  --shadow-color: #1a1a1a;
  --shadow-opacity: 0.35;
  --shadow-blur: 50px;
  --shadow-spread: 5.5px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 8px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.17);
  --shadow-xs: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.17);
  --shadow-sm: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.35), 0px 1px 2px 4.5px hsl(0 0% 10.1961% / 0.35);
  --shadow: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.35), 0px 1px 2px 4.5px hsl(0 0% 10.1961% / 0.35);
  --shadow-md: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.35), 0px 2px 4px 4.5px hsl(0 0% 10.1961% / 0.35);
  --shadow-lg: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.35), 0px 4px 6px 4.5px hsl(0 0% 10.1961% / 0.35);
  --shadow-xl: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.35), 0px 8px 10px 4.5px hsl(0 0% 10.1961% / 0.35);
  --shadow-2xl: 0px 8px 50px 5.5px hsl(0 0% 10.1961% / 0.88);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2161 0.0061 56.0434);
  --foreground: oklch(0.9280 0.0345 274.9790);
  --card: oklch(0.2817 0.0313 309.9354);
  --card-foreground: oklch(0.9280 0.0345 274.9790);
  --popover: oklch(0.2817 0.0313 309.9354);
  --popover-foreground: oklch(0.9280 0.0345 274.9790);
  --primary: oklch(0.7135 0.1691 295.8917);
  --primary-foreground: oklch(0.2876 0.1415 293.5534);
  --secondary: oklch(0.4450 0.2190 306.0620);
  --secondary-foreground: oklch(0.8717 0.0093 258.3382);
  --muted: oklch(0.2295 0.0379 305.3566);
  --muted-foreground: oklch(0.7115 0.0201 265.9306);
  --accent: oklch(0.6347 0.2524 306.3638);
  --accent-foreground: oklch(0.9691 0.0161 293.7558);
  --destructive: oklch(0.8128 0.0999 21.7381);
  --border: oklch(0.3427 0.0449 310.6572);
  --input: oklch(0.3427 0.0449 310.6572);
  --ring: oklch(0.8198 0.1014 295.5529);
  --chart-1: oklch(0.7900 0.1183 297.4724);
  --chart-2: oklch(0.7125 0.1595 295.3421);
  --chart-3: oklch(0.6104 0.2192 294.5557);
  --chart-4: oklch(0.5476 0.2469 295.1580);
  --chart-5: oklch(0.4971 0.2415 294.8898);
  --sidebar: oklch(0.3427 0.0449 310.6572);
  --sidebar-foreground: oklch(0.9280 0.0345 274.9790);
  --sidebar-primary: oklch(0.7900 0.1183 297.4724);
  --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
  --sidebar-accent: oklch(0.3869 0.0512 306.1961);
  --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
  --sidebar-border: oklch(0.3860 0.1892 296.2670);
  --sidebar-ring: oklch(0.7900 0.1183 297.4724);
  --destructive-foreground: oklch(0.2161 0.0061 56.0434);
  --radius: 1.5rem;
  --font-sans: Dongle, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Lateef, ui-serif, serif;
  --font-mono: Ubuntu Mono, ui-monospace, monospace;
  --shadow-color: oklch(0.216 0.006 56.043);
  --shadow-opacity: 0.35;
  --shadow-blur: 50px;
  --shadow-spread: 5.5px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 8px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.17);
  --shadow-xs: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.17);
  --shadow-sm: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.35), 0px 1px 2px 4.5px hsl(23.9958 9.6112% 9.9910% / 0.35);
  --shadow: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.35), 0px 1px 2px 4.5px hsl(23.9958 9.6112% 9.9910% / 0.35);
  --shadow-md: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.35), 0px 2px 4px 4.5px hsl(23.9958 9.6112% 9.9910% / 0.35);
  --shadow-lg: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.35), 0px 4px 6px 4.5px hsl(23.9958 9.6112% 9.9910% / 0.35);
  --shadow-xl: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.35), 0px 8px 10px 4.5px hsl(23.9958 9.6112% 9.9910% / 0.35);
  --shadow-2xl: 0px 8px 50px 5.5px hsl(23.9958 9.6112% 9.9910% / 0.88);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}